gevent
gunicorn
markdown2
pymysql
django==1.11.5
djangorestframework
markdown 
django-filter
monthdelta
Pillow
xlrd
xlsxwriter
-i https://pypi.tuna.tsinghua.edu.cn/simple pytest-runner
-i https://pypi.tuna.tsinghua.edu.cn/simple javascripthon
requests
lxml
pyecharts 
pyecharts_snapshot
psutil
pandas
matplotlib
mpl_finance
tushare
bs4
beautifulsoup4
request
