{% extends 'polls/__base__.html' %}

{% block content %}
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	 
	<link rel="stylesheet" type="text/css" href="/static/css/slider.css" />
	<script type="text/javascript" src="/static/js/modernizr.custom.28468.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cslider.js"></script>
	<script type="text/javascript">
		$(function() {
				
			$('#da-slider').cslider({
				autoplay	: true,
					bgincrement	: 450
				});
				
			});
	</script>
		

<div class="slider_bg s7" >
	<div id="da-slider" class="da-slider" >
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">欢迎您的光临</h2>
            <h3 class="title" style="margin-left:58px;">上海鑫相信息科技有限公司</h3>
            <p class="description">wuchunlong.eastasia.cloudapp.azure.com</p> 
		</div>
				
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;闪电建站</h2>
            <h3 class="title">精湛技术 VS 高端定制</h3>
             <p class="description">&nbsp;&nbsp;&nbsp;让您的公司迅速打通互联网营销渠道 展示您的企业品牌形象</p> 
		</div>
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网站托管</h2>
            <h3 class="title">全程管理 VS 用心服务</h3>
            <p class="description">让您轻松当老板 无后顾之忧</p> 
		</div>
					
	</div> 	
</div>
<a  href="/services/" class="button scroll"><img src="/static/images/arrow.png"></a>

	
<div class="services sTop" id="services">
	<div class="wrap">
		<h3>OpenStack®云架构支持</h3>
		<p>依托成熟的OpenStack基础架构云平台，采用大规模的服务器、存储和网络设备集群进行整合构建起的海量云端资源池，通过对计算节点进行高级调度，构建快速、经济、高效的云网络平台。</p>

        <div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service2.png" alt="">
			<h4><a href="#">创意设计 VS 弹性扩容</a></h4>
			<p>根据用户需求，结合模板，数据模型，视图设计灵活弹性系统方案。系统运行后，如果初始资源不够用，支持弹性扩展，随需而变化。</p>
			<p><a href="#">MORE</a></p>
		</div>
		
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service3.png" >
			<h4><a href="#">一键部署 VS 智能化管理</a></h4>
			<p>部署新建网站实现自动化，一键上传搞定。实现远程上传数据以及重启、重装、重置系统密码的智能化管理。</p>
			<p><a href="#">MORE</a></p>
		</div>
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/test1.png" style="height:235px;">
			<h4><a href="#">容灾备份 VS 日志管理</a></h4>
			<p>平台数据，自动迁移至可用集群，实时生成副本，确保数据安全。日志记录用户所有重要操作历史，方便定位和查找。</p>
			<p><a href="#">MORE</a></p>
		</div>       

   	</div>

	<div class="wrap">
	    <h3></h3>
		<p></p>
		
        <div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service2.png" alt="">
			<h4><a href="#">创意设计 VS 弹性扩容</a></h4>
			<p>根据用户需求，结合模板，数据模型，视图设计灵活弹性系统方案。系统运行后，如果初始资源不够用，支持弹性扩展，随需而变化。</p>
			<p><a href="#">MORE</a></p>
		</div>
		
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service3.png" >
			<h4><a href="#">一键部署 VS 智能化管理</a></h4>
			<p>部署新建网站实现自动化，一键上传搞定。实现远程上传数据以及重启、重装、重置系统密码的智能化管理。</p>
			<p><a href="#">MORE</a></p>
		</div>
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/test1.png" style="height:235px;">
			<h4><a href="#">容灾备份 VS 日志管理</a></h4>
			<p>平台数据，自动迁移至可用集群，实时生成副本，确保数据安全。日志记录用户所有重要操作历史，方便定位和查找。</p>
			<p><a href="#">MORE</a></p>
		</div>        
   	</div>

	<div class="wrap">
	    <h3></h3>
		<p></p>
		
        <div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service2.png" alt="">
			<h4><a href="#">创意设计 VS 弹性扩容</a></h4>
			<p>根据用户需求，结合模板，数据模型，视图设计灵活弹性系统方案。系统运行后，如果初始资源不够用，支持弹性扩展，随需而变化。</p>
			<p><a href="#">MORE</a></p>
		</div>
		
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service3.png" >
			<h4><a href="#">一键部署 VS 智能化管理</a></h4>
			<p>部署新建网站实现自动化，一键上传搞定。实现远程上传数据以及重启、重装、重置系统密码的智能化管理。</p>
			<p><a href="#">MORE</a></p>
		</div>
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/test1.png" style="height:235px;">
			<h4><a href="#">容灾备份 VS 日志管理</a></h4>
			<p>平台数据，自动迁移至可用集群，实时生成副本，确保数据安全。日志记录用户所有重要操作历史，方便定位和查找。</p>
			<p><a href="#">MORE</a></p>
		</div>        
   	</div>

   	<div class="clear"> </div>
</div>

{% endblock %}

