<!-- start header -->
<div class="header" >
	<div class="h_right">	
		<div class="subMenu" style="top:0px;">
			<div class="wrap"  >
			
		 	 	<div class="inner">
		 			<a href="/" class="subNavBtn"><img src="/static/images/logo.png"></a>
		 			<a href="/services/" class="subNavBtn">产品介绍</a> 
					<a href="#" id="s1" class="subNavBtn">典型案例</a>
					<a href="#" id="s2" class="subNavBtn">关于我们</a>
					<a href="#" id="s3" class="subNavBtn">免费模板</a>
					<a href="#" id="s4" class="subNavBtn">签约客户</a>
					<a href="#" id="experience" class="subNavBtn end">工作进度</a>
					<a href="/pricing/" id="s5" class="subNavBtn end">价格与服务</a>
					<a href="#" id="s6" class="subNavBtn end">联系我们</a>
			    	

			    	<div style="padding-left:1050px; width:1050px;"></a>			    
	             		<a href="#" class="subNavBtn" ><span> 登&nbsp;&nbsp;录 </span></a>	  
	             		<a href="#" class="subNavBtn" ><span> 注&nbsp;&nbsp;册 </span></a>
	            	</div>
	            </div>
	    	</div>	
	   	</div>
		
	</div>
	<!-- <div class="clear"></div> -->
</div>
<!--//End-header-->
