<div class="team-members s2" id="about">
	<div class="wrap"> 
		<div class="tm-head">
			<h3>关于我们</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海鑫相信息科技有限公司是一家网络品牌机构。专注网站设计、网站建设、网站托管、网络信息服务。我们拥有经验丰富技术团队、专业的资深设计师；凝聚了一批行业内最优秀的年轻人，富有创造力和奉献精神；我们专注于创意设计，实现商业价值最大化，为所有谋求长远发展的企业提升品牌品质；我们所做的一切都是以客户的利益为出发点，帮助企业建立以网络为依托的信息化管理、营销平台，我们坚信与企业共同成长！</p>
            <h3>我们的优势</h3>
            <p>专注高端定制、 品牌定位、 用心服务，帮您实现互联网品牌价值！</p>


		</div>
		<div class="tm-head-grids">
			<div class="tm-head-grid">
				<img src="/static/images/1zs.jpg" style="height:258px; ">
					<h4>省心</h4>
					<h5>设计、制作、托管一站式服务</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>


					<div class="tm-head-grid">
					
						<img src="/static/images/gs.jpg" style="height:258px; ">
					 	
						<h4>快速</h4>
						<h5>设计制作网站，一周搞定</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="tm-head-grid">
						<img src="/static/images/gj_1024.jpg" style="height:258px; ">
						<h4>效益高</h4>
						<h5>采用定价匹配策略，性价比高</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>

		<div class="experience" >
			<div class="wrap"> 
				<div class="ex-head">
					<h3>工程进度</h3>
					<p>用户可以适时掌握项目动态情况</p>
				</div>
			<div class="prog">
				<div class="text">
					<span>Web design</span>
				</div>
			<div class="text_p">
				<span>90%</span>
			</div>
			<div class="clear"></div>
			<div class="progress-bar-container" data-percent="90%">
				<div class="progress-bar" style="width: 90%;">
				</div>
			</div>
		</div>

		<div class="prog1">
			<div class="text">
				<span>HTML/css</span>
			</div>
			<div class="text_p">
				<span>40%</span>
			</div>
			<div class="clear"></div>
			<div class="progress-bar-container" data-percent="90%">
				<div class="progress-bar1" style="width: 40%;">
				</div>
			</div>
		</div>
		<div class="prog2">
			<div class="text">
				<span>illustration</span>
			</div>
			<div class="text_p">
				<span>60%</span>
			</div>
			<div class="clear"></div>
			<div class="progress-bar-container" data-percent="90%">
				<div class="progress-bar2" style="width: 60%;">
				</div>
			</div>
		</div>
	</div>
</div>