<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	 
	    <link rel="stylesheet" type="text/css" href="/static/css/slider.css" />
		<script type="text/javascript" src="/static/js/modernizr.custom.28468.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cslider.js"></script>
			<script type="text/javascript">
				$(function() {
				
					$('#da-slider').cslider({
						autoplay	: true,
						bgincrement	: 450
					});
				
				});
			</script>
		

<link href="/static/css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
		<script type="text/javascript" src="/static/js/fliplightbox.min.js"></script>
		<script type="text/javascript">
			$('body').flipLightBox()
		</script>
		<script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.mixitup.min.js"></script>
		<script type="text/javascript">
			$(function() {

				var filterList = {

					init : function() {

						// MixItUp plugin
						// http://mixitup.io
						$('#portfoliolist').mixitup({
							targetSelector : '.portfolio',
							filterSelector : '.filter',
							effects : ['fade'],
							easing : 'snap',
							// call the hover effect
							onMixEnd : filterList.hoverEffect()
						});

					},

					hoverEffect : function() {

						// Simple parallax effect
						$('#portfoliolist .portfolio').hover(function() {
							$(this).find('.label').stop().animate({
								bottom : 0
							}, 200, 'easeOutQuad');
							$(this).find('img').stop().animate({
								top : -40
							}, 500, 'easeOutQuad');
						}, function() {
							$(this).find('.label').stop().animate({
								bottom : -40
							}, 200, 'easeInQuad');
							$(this).find('img').stop().animate({
								top : 0
							}, 300, 'easeOutQuad');
						});

					}
				};

				// Run the show!
				filterList.init();

			});
		</script>
	<!-- popup -->
<link rel="stylesheet" type="text/css" href="/static/css/magnific-popup1.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css"> -->
<script src="/static/js/jquery.magnific-popup.js" type="text/javascript"></script>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
					});
				});
				</script>
<script type="text/javascript" src="/static/js/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" media="screen" />
  <script type="text/javascript">
    $(function() {
        $('#portfoliolist a').lightBox();
    });
   </script>
 <!-- nav -->  
<script type="text/javascript" 	src="/static/js/jquery.smint.js"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});
</script>
<script>
window.addEventListener("load",function() {
  setTimeout(function(){
    window.scrollTo(0, 1);
  }, 0);
});</script>
</head>
<body>

<div class="slider_bg s7" >
	<div id="da-slider" class="da-slider" >
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">欢迎您的光临</h2>
            <h3 class="title" style="margin-left:58px;">上海鑫相信息科技有限公司</h3>
            <p class="description">wuchunlong.eastasia.cloudapp.azure.com</p> 
		</div>
				
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;闪电建站</h2>
            <h3 class="title">精湛技术 VS 高端定制</h3>
             <p class="description">&nbsp;&nbsp;&nbsp;让您的公司迅速打通互联网营销渠道 展示您的企业品牌形象</p> 
		</div>
		<div class="da-slide" style="height:138px; width:770px;">
			<h2 class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网站托管</h2>
            <h3 class="title">全程管理 VS 用心服务</h3>
            <p class="description">让您轻松当老板 无后顾之忧</p> 
		</div>
					
	</div> 	
</div>
<a  href="#services" class="button scroll"><img src="/static/images/arrow.png"></a>

<!-- start header -->
<div class="header">
 	<div class="logo">
 		<a  href="#s7" class="scroll"><img src="/static/images/logo.png"></a>
 	</div>
	<!-- start top-nav-->
	<div class="h_right">	
		<div class="subMenu" >
			<div class="wrap">
		 	 	<div class="inner">
		 			<a href="#" id="sTop" class="subNavBtn">产品介绍SERVICES</a> 
					<a href="#" id="s1" class="subNavBtn">典型案例WORKS</a>
					<a href="#" id="s2" class="subNavBtn">关于我们ABOUT</a>
					<a href="#" id="s3" class="subNavBtn">免费模板TEMPLATE</a>
					<a href="#" id="s4" class="subNavBtn">签约客户CLIENTS</a>
					<a href="#" id="experience" class="subNavBtn end">工作进度EXPERIENCE</a>
					<a href="#" id="s5" class="subNavBtn end">价格与服务PRICING</a>
					<a href="#" id="s6" class="subNavBtn end">联系我们CONTACT</a>
			    	

			    	<div style="padding-left:1050px; width:1050px;"></a>			    
	             		<a href="#" class="subNavBtn" ><span> 登&nbsp;&nbsp;录LOGIN </span></a>	  
	             		<a href="#" class="subNavBtn" ><span> 注&nbsp;&nbsp;册REGISTR </span></a>
	            	</div>
	            </div>
	    	</div>	
	   	</div>
		
	</div>
	<div class="clear"></div>
</div>
<!--//End-header-->

{% block content %}{% endblock %}


<!-- scroll_top_btn -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>

<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
 
</body>
</html>