<div class="s3" id="blog">
	<div class="wrap"> 
		<div class="blog-head">
		<br><br>
			<h3>模板展示</h3>
			<p>总有一款适合您</p>
		</div>
		<div class="blog-grid">
			<div class="blog-left">
				<div class="img-left">
					<img src="/static/images/blog1.jpg" alt="" />
				</div>	
				<div class="text-right">
				    
					<h6>上传时间：2018年2月22日</h6>
					<h3>大片电影主题整站网站模板，有三个子页面，有菜单、大窗口图片轮换、搜索框、位图。</h3>
					<h3><a href="/film/index.html/">预览</a>
					<a href="#">下载</a></h3>
					<img src="/static/images/line.png" alt="" />
					<p>注册下载 ...</p>
					<p><a href="#">注册</a></p>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="blog-right">
				<div class="img-left">
					<img src="/static/images/blog2.jpg" alt="" />
				</div>	
			<div class="text-right">
				<h6>March 29, 2014</h6>
				<h3><a href="#">A NEW INVENTION FOR LOVERS WHO LOVE</a></h3>
				<img src="/static/images/line.png" alt="" />
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum ....</p>
				<p><a href="#">MORE</a></p>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="clear"> </div>
	</div>
	
</div>
