<div class="contact s6" id="contact">
	<div class="wrap">
		公司名：上海市鑫相信息科技有限公司（总部）<br>
		地址：上海市 ###########<br>
        技术支持电话：18893914998<br>
		故障投诉电话：021-12345678<br>
		邮件：wu.chunlong@outlook.com <br> <br>
		<h3>网上留言</h3>
				
		<div class="contact_form">
			<form method="post" action="contact-post.html">
				<span><input type="text" value="NAME" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'NAME';}"><label><img src="/static/images/con1.png" alt="" /></label></span>									    
				<span class="left"><input type="text" value="EMAIL" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'EMAIL';}"><label><img src="/static/images/con2.png" alt="" /></label></span>
				<div class="clear"></div>
				<span><textarea placeholder="MESSAGE"></textarea><label1><img src="/static/images/con3.png" alt="" /></label1></span>
				<input type="submit" class="" value="Submit">
			</form>
		</div>
	</div>
</div>