<!-- fun -->
<div class="fun">
	<div class="wrap"> 
		<div class="fun-head">
			<h3>SOME FUN FACTS</h3>							
		</div>
		<div class="fun-head-grids">
			<div class="fun-head-grid">
				<img src="/static/images/fact1.png" alt="" />
				<h4>638</h4>
				<h5>CUP OF COFFEE</h5>						
			</div>
			<div class="fun-head-grid">
				<img src="/static/images/fact2.png" alt="" />
				<h4>746</h4>
				<h5>HAPPY CLIENTS</h5>					
			</div>
			<div class="fun-head-grid">
				<img src="/static/images/fact3.png" alt="" />
				<h4>887</h4>
				<h5>SONG LISTENED</h5>								
			</div>
			<div class="fun-head-grid">
				<img src="/static/images/fact4.png" alt="" />
				<h4>1047</h4>
				<h5>ENDED PROJECTS</h5>								
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</div>
<!--//End-fun--> 