<!-- 定价 -->
<div class="pricing s5" id="pricing">
	<div class="wrap"> 
		<div class="pricing-head">
			<h3>价格与服务</h3>
			<p>提供的服务：网站定制 网站部署 网站托管</p>						
        </div>								
		<div class="pricing-grids" >
			<div class="pricing-grid1">	<!-- 改变圆的颜色 magnific-popup1.css-->
				<h3><a href="#"><p style="font-size:24px;padding-left:0px;padding-top:46px;">￥<span>8000</span></p></a></h3>						
				<div class="price-value">
					<a href="#">网站定制收费标准</a>
				</div>
				<img src="/static/images/border.png" alt="" />
				<ul>
					<li><a href="#">个人博客</a></li>
					<li><a href="#">公司网站</a></li>
											
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><j>TRY</j></a>
					</div>	
				</div>
			</div>

			<div class="pricing-grid2">
				<h3><a href="#">$<span>600</span><p>月</p></a></h3>
				<div class="price-value">
					<a href="#">网站维护收费标准</a>
				</div>
				<img src="/static/images/border.png" alt="" />
				<ul>
					<li><a href="#">小型网站</a></li>
					<li><a href="#">大型网站</a></li>
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><k>TRY</k></a>
					</div>	
				</div>
			</div>

			<div class="pricing-grid3">	
				<h3><a href="#">$<span>999</span><p>month</p></a></h3>						
				<div class="price-value">
						<a href="#">网站托管收费标准</a>
				</div>	
				<img src="/static/images/border.png" alt="" />									
				<ul>
					<li><a href="#">Lorem ipsum</a></li>
					<li><a href="#">Dolor sitamet, Consect</a></li>
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><l>TRY</l></a>
					</div>	
				</div>
			</div>																											
		</div>
		<div class="clear"> </div>
   	</div>
    <!-- 第二行 -->
	<div class="wrap"> 
		<div class="pricing-head">
			<h3></h3>
			<p></p>						
        </div>								
		<div class="pricing-grids">
			<div class="pricing-grid4">	
				<h3><a href="#"><p style="font-size:24px;padding-left:0px;padding-top:46px;">￥<span>8000</span></p></a></h3>						
				<div class="price-value">
					<a href="#">网站定制制作收费标准</a>
				</div>
				<img src="/static/images/border.png" alt="" />
				<ul>
					<li><a href="#">个人博客</a></li>
					<li><a href="#">公司网站</a></li>
											
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><j>TRY</j></a>
					</div>	
				</div>
			</div>

			<div class="pricing-grid5">
				<h3><a href="#">$<span>600</span><p>月</p></a></h3>
				<div class="price-value">
					<a href="#">网站维护收费标准</a>
				</div>
				<img src="/static/images/border.png" alt="" />
				<ul>
					<li><a href="#">小型网站</a></li>
					<li><a href="#">大型网站</a></li>
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><k>TRY</k></a>
					</div>	
				</div>
			</div>

			<div class="pricing-grid6">	
				<h3><a href="#">$<span>999</span><p>month</p></a></h3>						
				<div class="price-value">
						<a href="#">网站托管收费标准</a>
				</div>	
				<img src="/static/images/border.png" alt="" />									
				<ul>
					<li><a href="#">Lorem ipsum</a></li>
					<li><a href="#">Dolor sitamet, Consect</a></li>
				</ul>
				<div class="cart1">
					<div class="span3"><a class="popup-with-zoom-anim" href="#small-dialog"><l>TRY</l></a>
					</div>	
				</div>
			</div>																											
		</div>
		<div class="clear"> </div>
   	</div>



</div>