<div class="services sTop" id="services">
	<div class="wrap">
		<h3>OpenStack®云架构支持</h3>
		<p>依托成熟的OpenStack基础架构云平台，采用大规模的服务器、存储和网络设备集群进行整合构建起的海量云端资源池，通过对计算节点进行高级调度，构建快速、经济、高效的云网络平台。</p>

        <div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service2.png" alt="">
			<h4><a href="#">创意设计 VS 弹性扩容</a></h4>
			<p>根据用户需求，结合模板，数据模型，视图设计灵活弹性系统方案。系统运行后，如果初始资源不够用，支持弹性扩展，随需而变化。</p>
			<p><a href="#">MORE</a></p>
		</div>
		
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service3.png" >
			<h4><a href="#">一键部署 VS 智能化管理</a></h4>
			<p>部署新建网站实现自动化，一键上传搞定。实现远程上传数据以及重启、重装、重置系统密码的智能化管理。</p>
			<p><a href="#">MORE</a></p>
		</div>
		<div class="col_1_of_3 span_1_of_3">
			<img src="/static/images/service1.png" style="height:235px;">
			<h4><a href="#">容灾备份 VS 日志管理</a></h4>
			<p>平台数据，自动迁移至可用集群，实时生成副本，确保数据安全。日志记录用户所有重要操作历史，方便定位和查找。</p>
			<p><a href="#">MORE</a></p>
		</div>
        <div class="clear"> </div>
   	</div>
</div>

