
<!-- start portfoli1 -->
<div class="portfoliO s1" id="work">
   	<div class="wrap">	
		<h3>WORKS</h3>
		<p>Proin iaculis purus consequat sem cure.</p>
		<div class="container"><!-- start container -->		 
	       	<!-- start h_menu -->
			<div class="h_menu">
				<ul class="flexy-menu thick orange">
				    <li class="active"> <span class="filter active" data-filter="app card icon web">VIEW ALL</span></li>
				    <li><span class="filter" data-filter="app  icon">ILLUSTRATION</span></li>
				    <li><span class="filter" data-filter="card ">LOGO</span></li>				            
				    <li><span class="filter" data-filter="icon app card ">THIPOGRAPHY</span></li>
				    <li><span class="filter" data-filter="web card icon">POSTER</span></li>
				</ul>
			</div>	
			<!-- end h_menu -->

			<script type="text/javascript" src="/static/js/flexy-menu.js"></script>
			<link href="/static/css/header_style1.css" rel="stylesheet" type="text/css" media="all" />
			<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});
			</script>

	
			<ul id="filters" class="clearfix">
				<li>
					<span class="filter active" data-filter="app card icon web">VIEW ALL</span>
				</li>
				<li>
					<span class="filter" data-filter="app  icon">ILLUSTRATION</span>
				</li>
				<li>
					<span class="filter" data-filter="card ">LOGO</span>
				</li>
				<li>
					<span class="filter" data-filter="icon app card ">THIPOGRAPHY</span>
				</li>
				<li>
					<span class="filter" data-filter="web card icon">POSTER</span>
				</li>
			</ul>
						
			<div id="portfoliolist">
				<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port.jpg" alt="Image 2" style="top: 0px;"> </a>
									
					</div>
				</div>						
				<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port1.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port1.jpg" alt="Image 2" style="top: 0px;"> </a>								
					</div>
				</div>
				<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port2.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port2.jpg" alt="Image 2" style="top: 0px;"> </a>							
					</div>
				</div>
				<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port3.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port3.jpg" alt="Image 2" style="top: 0px;"> </a>
									
					</div>
				</div>
				<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port4.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port4.jpg" alt="Image 2" style="top: 0px;"> </a>
									
					</div>
				</div>
				<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
					<div class="portfolio-wrapper">
						<a href="/static/images/port5.jpg #small-dialog1" class="flipLightBox popup-with-zoom-anim"><img src="/static/images/port5.jpg" alt="Image 5" style="top: 0px;"> </a>
								
					</div>
				</div>
																
			</div>				
		</div>	

		<div class="img">
			<a href="#"><img src="/static/images/zoom.png" alt=""></a>	
		</div>						
	</div>
</div>
