<!-- <script src="static/demos/googlegg.js"></script> -->
<link rel="stylesheet" href="/static/index3/css/index3.css">
<div class="square">
<dl class="mylist_dl">
	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>选择器</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">#id</li>
			<li class="mylist_li">element</li>
			<li class="mylist_li">.class</li>
			<li class="mylist_li">*</li>
		</ul>
	</dd>

	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>属性</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">attr</li>
			<li class="mylist_li">removeAttr</li>
			
		</ul>
	</dd>

	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>文档处理</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">append</li>
			<li class="mylist_li">appendTo</li>
			
		</ul>
	</dd>
	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>事件</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">ready</li>
			<li class="mylist_li">on</li>
			
	</dd>
	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>AJAX</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">$.ajax</li>
			<li class="mylist_li">$.get</li>
			
		</ul>
	</dd>
	<dt class="mylist_dt">
		<span class="my_after"></span>
		<p>效果</p>
		<i class="mylist_dt_icon"></i>
	</dt>
	<dd class="mylist_dd">
		<ul>
			<li class="mylist_li">show</li>
			<li class="mylist_li">hide</li>
			
		</ul>
	</dd>
</dl>
</div>
<!--为了浏览器兼容性jqeury版本推荐使用1.12.0，其他版本会出现不支持某些浏览器-->
<!-- <script type="text/javascript" src="static/js/jquery.min.js"></script> -->
<script type="text/javascript">
$(".mylist_dt").on("click",function () {
	$('.mylist_dd').stop();
	$(this).siblings("dt").removeAttr("id");
	if($(this).attr("id")=="open"){
		$(this).removeAttr("id").siblings("dd").slideUp();
	}else{
		$(this).attr("id","open").next().slideDown().siblings("dd").slideUp();
	}
});
</script>



