/*Pricing table and price blocks*/
/*.pricing-plans{
	padding: 6% 0em;
	background: #282A2E;
}*/

/*----*/
/*.pricing-grid{
	width: 30.8%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #313338;
	text-align: center;
	margin-right: 3.8%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}*/
/*.pricing-grid:hover {
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 0 none;
	background: #fff;
}
*/
/*.pricing-grid:hover h3 a,.pricing-grid:hover .cart a{
	background: #49CBCD;
}
.pricing-grid:nth-child(3){
	margin-right:0;
}
.pricing-grid h3 a{
	background:#1BBC9D;
	padding: 3% 2%;
	display: block;
	color: #FFF;
	font-size: 1.3em;
	box-shadow: 0px 1px 2px #696969;
	-webkit-box-shadow: 0px 1px 2px #696969;
	-moz-box-shadow: 0px 1px 2px #696969;
	-o-box-shadow: 0px 1px 2px #696969;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.price-value {
	padding: 0% 0;
}
*/
/*.pricing-grid ul li a{
	color:#C0BEBE;
	font-size:0.9em;;
	text-align: center;
	display: block;
	padding: 1em 0em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;;
	-o-transition:0.5s all;
}
.pricing-grid ul li a:hover{
	background:#353A42;
	color:#49CBCD;
}
.cart{
	padding: 2% 34% 20%;
	display: block;
	color: #FFF; 
	margin-top: 8%;
}*/
/*----*/
/*------------pricing-tabels--------------------*/


/*--1--*/
.pricing-grid1{
	width: 30%;
	float: left;
	background: #F4F4F4;
	text-align: center;
	margin: 3.8% 3.8% 0 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.pricing-grid1:hover {
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 0 none;
	background: #fff;
}
.pricing-grid1:hover h3 a,.pricing-grid1:hover a j{
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}
.pricing-grid1:nth-child(4){
	margin-right:0;
}
.pricing-grid1 h3 a {  /*改变圆的颜色*/
	background: #F8BC3A;
	color: #FFF;
	height: 200px;
	display: inline-block;
	width: 200px;
	border-radius: 30em;
	font-size: 2em;
*//*	box-shadow: 0px 1px 2px #CE8C17;
	-webkit-box-shadow: 0px 1px 2px #CE8C17;
	-moz-box-shadow: 0px 1px 2px #CE8C17;
	-o-box-shadow: 0px 1px 2px #CE8C17;
/*	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	position: relative;
	top: -100px;
	margin-bottom: -50px;*/
}
.pricing-grid1 h3 a span{
	color: #FFF;
	font-size: 3em;
}
.pricing-grid1 h3 a p{
	color: #FFF;
	font-size: 0.7em;
	padding-left: 17px;
}
.price-value a{
	font-size: 2em;
	color: #333;
	font-family: 'Noto Sans', sans-serif;
}
.price-value {
	padding: 7% 0;
}

.pricing-grid1 ul li a {
	color: #202020;
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 0.1em 0em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.cart{
	padding: 2% 34% 20%;
	display: block;
	color: #FFF; 
	margin-top: 8%;
}
.cart1 {
	padding: 2% 40% 18%;
	display: block;
	color: #FFF;
	padding-top: 6%;
}

/*--2--*/
.pricing-grid2{
	width:30%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #F4F4F4;
	text-align: center;
	margin: 3.8% 3.8% 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.pricing-grid2:hover {
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 0 none;
	background: #fff;
}
 .pricing-grid2:hover h3 a,.pricing-grid2:hover a k{
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}
.pricing-grid2:nth-child(4){
	margin-right:0;
}
.pricing-grid2 h3 a {
	background: #27AE61;
	color: #FFF;
	height: 200px;
	display: inline-block;
	width: 200px;
	border-radius: 30em;
	font-size: 2em;
	box-shadow: 0px 1px 2px #43B95F;
	-webkit-box-shadow: 0px 1px 2px #43B95F;
	-moz-box-shadow: 0px 1px 2px #43B95F;
	-o-box-shadow: 0px 1px 2px #43B95F;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	position: relative;
	top: -100px;
	margin-bottom: -50px;
}
.pricing-grid2 h3 a span{
	color: #FFF;
	font-size: 3em;
}
.pricing-grid2 h3 a p{
	color: #FFF;
	font-size: 0.7em;
	padding-left: 17px;
}
.pricing-grid2 ul li a {
	color: #202020;
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 0.1em 0em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
/*--3--*/
.pricing-grid3{
	width: 30%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #F4F4F4;
	text-align: center;
	margin: 3.8% 0% 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.pricing-grid3:hover {
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 0 none;
	background: #fff;
}
 .pricing-grid3:hover h3 a,.pricing-grid3:hover a l{
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}
.pricing-grid3:nth-child(4){
	margin-right:0;
}
.pricing-grid3 h3 a {
	background: #2A80B9;
	color: #FFF;
	height: 200px;
	display: inline-block;
	width: 200px;
	border-radius: 30em;
	font-size: 2em;
	box-shadow: 0px 1px 2px  #203772;
	-webkit-box-shadow: 0px 1px 2px  #203772;
	-moz-box-shadow: 0px 1px 2px  #203772;
	-o-box-shadow: 0px 1px 2px  #203772;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	position: relative;
	top: -100px;
	margin-bottom: -50px;
}
.pricing-grid3 h3 a span{
	color: #FFF;
	font-size: 3em;
}
.pricing-grid3 h3 a p{
	color: #FFF;
	font-size: 0.7em;
	padding-left: 17px;
}
.pricing-grid3 ul li a {
	color: #202020;
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 0.1em 0em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.span3 {
	  margin: 1% 2% 0 0;
	  float: left;
}
.span3 j {
	font-size: 1.1em;
	color: #FFFFFF;
	background: #E2A231;
	padding: 10px 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5p;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
/*.span3 j:hover {
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}*/
.span3 k {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	background: #27AE61;
	padding: 10px 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5p;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.span3 k:hover {
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}
.span3 l {
	font-size: 1.1em;
	color: #fff;
	background: #2A80B9;
	box-shadow: 0px 1px 2px #6C9FC0;
	-webkit-box-shadow: 0px 1px 2px #6C9FC0;
	-moz-box-shadow: 0px 1px 2px #6C9FC0;
	-o-box-shadow: 0px 1px 2px #6C9FC0;
	padding: 10px 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.span3 l:hover {
	background: #49CBCD;
	box-shadow: 0px 1px 2px #3DB9B9;
	-webkit-box-shadow: 0px 1px 2px #3DB9B9;
	-moz-box-shadow: 0px 1px 2px #3DB9B9;
	-o-box-shadow: 0px 1px 2px #3DB9B9;
}
