@charset "utf-8";
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.style3 .slides {
	border-bottom:2px #F00 solid;
	}
.style3  .carousel_box .slides {
	border:none;
	
	}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	background: #fff;
	position: relative;
	zoom: 1;
	height:399px;
	margin:0 auto 0 auto;
	position:relative;
	overflow:hidden;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav a {
	width: 43px;
	height: 58px;
	display: block;
	/*background: url(../images/arrows.png) no-repeat 0 0;*/
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0.8;
   -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right:25px;
}
.flex-direction-nav .flex-prev {
	left:25px;
}
.flex-direction-nav .disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width:100%;
	position: absolute;
	bottom:28px;
	text-align:center;
	z-index:9000;
}


.slideleft .flex-control-nav{
	right:10px;
	margin-left:0px;
	}
.style3 .flex-control-nav {
	width: 100%;
	position: relative;
	margin:15px 0 15px 0;
	text-align:center;
}
.carousel_box .flex-control-nav{
	width: 100%;
	position: relative;
	margin:15px 0 5px 0;
	text-align:center;
/*	width: auto;
	position: absolute;
	margin:10px 0;
	right: 10px;*/
	}
.aslider .flex-control-nav {
	width: auto;
	position: absolute;
	margin:10px 0;
	right: 10px;
	}
.aslider .flex-control-paging li a ,.carousel_box  .flex-control-paging li a{
	width: 10px;
	height: 10px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	-ms-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;

}
.aslider .flex-control-paging li a.flex-active ,.carousel_box .flex-control-paging li a.flex-active{
	height: 10px;
}
.flex-control-nav li {
	margin: 0 2px!important;
	display: inline-block;
	zoom: 1;
   *display: inline;
}
.flex-control-paging li a {
	text-indent: -9999px;
	display: block;
	width: 14px;
	height: 14px;
	margin:0 5px;
	background:url(../images/slide-cir.png) no-repeat;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background:url(../images/slide-cir.png) no-repeat right 0;
	cursor: pointer;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .active {
	opacity: 1;
	cursor: default;
}
.flexslider ul.slides li  .slide_content, .flexslider ul.slides li  .slide_desc,
.flexslider ul.slides li  .slide_content_left, .flexslider ul.slides li  .slide_desc_left,
.flexslider ul.slides li .slide_content_right, .flexslider ul.slides li  .slide_desc_right{
	position: absolute;
	top: 10%;
	left: 8%;
	max-width: 350px;
	text-align: left;
}	
.flexslider ul.slides li  .slide_content, 
.flexslider ul.slides li  .slide_content_left, 
.flexslider ul.slides li .slide_content_right{
		padding: 0px 0px;
		background: #000000;
		color: #ffffff;
	}
.flexslider ul.slides li  .slide_desc,
.flexslider ul.slides li  .slide_desc_left,
.flexslider ul.slides li  .slide_desc_right{
	padding: 5px 10px 5px 10px;
	background: #fff;
	color: #7777777;
	font-size: 11px;
	opacity: 0.8;
	border: 0;
}
/**********************************/
.flexslider{color:#fff;}
.flexslider h2{font-size:48px;/**margin-bottom:40px;**/}
.flexslider p{font-size:18px;line-height:38px;}	
.flexslider ul.slides li{height:399px;text-align:}
.flexslider ul.slides li  .slide_content{ position:absolute;text-align:center;width:100%;max-width:none;left:0;right:0;background:none;}
.flexslider ul.slides li  .slide_content ul{position:absolute;top:220px;width:100%;text-align:center;}
.flexslider ul.slides li  .slide_content ul li{/**position:absolute;**/display:inline-block;height:auto;font-size:18px;line-height:38px;text-align:left;margin:0 10px;
  background:url(../images/w-cir.png) no-repeat left center;padding-left:20px;
}
.flexslider ul.slides li.flex-active-slide .slide_content ul li{ 
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
    
}
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy1,
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy4{
  -webkit-animation-delay:1.4s;
  animation-delay:1.4s;
}
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy2,
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy3{  
  -webkit-animation-delay:1.2s;
  animation-delay:1.2s
}
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy1,
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy2{  
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy3,
.flexslider ul.slides li.flex-active-slide  .slide_content ul li.zy4{  
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.flexslider ul.slides li  .slide_content h2,.flexslider ul.slides li  .slide_content p{position:absolute;width:100%;}
.flexslider ul.slides li.slidbg1{background:url(../images/lfslidebg1.png) repeat;}
.flexslider ul.slides li.slidbg2{background:url(../images/lfslidebg2.png) repeat;}
.flexslider ul.slides li.slidbg3{background:url(../images/lfslidebg3.jpg) no-repeat center 0;background-size:cover;}
.flexslider  .slc-1 h2{
	top:71px;
	}
.flexslider ul.slides li.flex-active-slide .slc-1 h2{	
    animation: reset, slide-down 1s;
	-moz-animation: reset, slide-down 1s; /* Firefox */
	-webkit-animation: reset, slide-down 1s; /* Safari and Chrome */
} 
.flexslider  .slc-1 p{
	top:180px;
	}
.flexslider ul.slides li.flex-active-slide .slc-1 p{	
    animation: reset, slide-up 1s;
	-moz-animation: reset, slide-up 1s; /* Firefox */
	-webkit-animation: reset, slide-up 1s; /* Safari and Chrome */
}	
.flexslider .slc-2 h2{
	top:71px;
	}
.flexslider ul.slides li.flex-active-slide .slc-2 h2{
	animation: reset, slide-down 0.6s;
	-moz-animation: reset, slide-down 0.6s; /* Firefox */
	-webkit-animation: reset, slide-down 0.6s; /* Safari and Chrome */
	}	
.flexslider .slc-2 p{
	top:165px;
	}
.flexslider ul.slides li.flex-active-slide .slc-2 p{	
    animation: reset, scl2-slide-up 0.8s;
	-moz-animation: reset, scl2-slide-up 0.8s; /* Firefox */
	-webkit-animation: reset, scl2-slide-up 0.8s; /* Safari and Chrome */
}	
.flexslider .msdz-btn{
	position:absolute;
	left:50%;
	top:230px;
	overflow:hidden;
	margin-left:-74px;
	display:block;
	width:148px;
	height:45px;
	line-height:41px;
	text-align:center;
	font-size:16px;
	color:#fff;
	border:2px solid #fff;
	border-radius:20px;
}	
.flexslider ul.slides li.flex-active-slide .slc-2 .msdz-btn,.flexslider.wsd ul.slides li.flex-active-slide .msdz-btn
{
	/**
  animation: reset, uk-fade-scale 1s;
  -moz-animation: reset, uk-fade-scale 1s; 
  -webkit-animation: reset, uk-fade-scale 1s;
	**/
  -webkit-animation-name: uk-fade-scale;
  animation-name: uk-fade-scale;
  -webkit-animation-duration:1s;
  animation-duration:1s;
}
.flexslider .slc-3 h2{
	top:71px;
}

.flexslider .slc-3 p{top:170px;}
.flexslider ul.slides li.flex-active-slide .slc-3 h2 {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
    

}
.flexslider ul.slides li.flex-active-slide .slc-3 p{
	 -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
	-webkit-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
    -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   animation-fill-mode: both;
	}
.sub-slide .flexslider{height:366px;}
.sub-slide .flexslider .slide_content{position:relative;top:-10px !important;border:1px solid red;}
.flexslider.wsd p{font-size:20px;top:81px;}
.flexslider.wsd h2{font-size:36px;top:121px;}
.flexslider.wsd .msdz-btn{top:210px;animation-delay:0.6s;-webkit-animation-delay:0.6s;}
.flexslider.wsd .flex-control-nav{bottom:50px;}
.flexslider.wsd ul.slides li.flex-active-slide .scl4 h2
{
 -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
	}
.flexslider.wsd ul.slides li.flex-active-slide .scl4 p
{  
  -webkit-animation-name: uk-fade-top;
  animation-name: uk-fade-top;
}
.flexslider.wsd ul.slides li.flex-active-slide .scl5 h2
{
 -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
	}
.flexslider.wsd ul.slides li.flex-active-slide .scl5 p
{  
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}




/**********************************/
.flexslider ul.slides li .slide_content_right,
.flexslider ul.slides li  .slide_desc_right{
		text-align: right;
		top: 18%;
		left:auto;
		right: 8%;
	}

.flexslider ul.slides li.flex-active-slide  .slide_content_left{
	animation: reset, slide-left 0.8s;
	-moz-animation: reset, slide-left 0.8s; /* Firefox */
	-webkit-animation: reset, slide-left 0.8s; /* Safari and Chrome */
}
.flexslider ul.slides li.flex-active-slide  .slide_content_right{
	animation: reset, slide-right 0.8s;
	-moz-animation: reset, slide-right 0.8s; 
	-webkit-animation: reset, slide-right 0.8s;
}
.flexslider ul.slides li  .slide_desc{
	top: 25%;
	left:8%;
}
 .flexslider ul.slides li .slide_desc_left{
	top: 25%;
	left:8%;
}
.flexslider ul.slides li.flex-active-slide .slide_desc_left{		
     -webkit-animation: reset, slide-down  0.8s;
     -moz-animation: reset, slide-down  0.8s;
     animation: reset, slide-down 0.8s;
}
.flexslider ul.slides li .slide_desc_right{
		top: 33%;
		right: 8%;
}
.flexslider ul.slides li.flex-active-slide .slide_desc_right{		
    -webkit-animation: reset, slide-up  0.8s;
	-moz-animation: reset, slide-up  0.8s;
	animation: reset, slide-up 0.8s;
}

@keyframes reset {
0% {
	opacity: 0;
}
100% {
	opacity: 0;
}
}

@-moz-keyframes reset {
0% {
	opacity: 0;
}
100% {
	opacity: 0;
}
}

@-webkit-keyframes reset {
0% {
	opacity: 0;
}
100% {
	opacity: 0;
}
}

@keyframes slide-left
{
from {left:12%;opacity: 0;}
to {left:8%;opacity: 1;}
}

@-moz-keyframes slide-left /* Firefox */
{
from {left:12%;opacity: 0;}
to {left:8%;opacity: 1;}
}

@-webkit-keyframes slide-left /* Safari and Chrome */
{
from {left:12%;opacity: 0;}
to {left:8%;opacity: 1;}
}

@keyframes slide-right
{
from {right:15%;opacity: 0;}
to {right:8%;opacity: 1;}
}

@-moz-keyframes slide-right /* Firefox */
{
from {right:15%;opacity: 0;}
to {right:8%;opacity: 1;}
}

@-webkit-keyframes slide-right /* Safari and Chrome */
{
from {right:15%;opacity: 0;}
to {right:8%;opacity: 1;}
}
@keyframes slide-down
{
from {top:10px;opacity: 0;}
to {top:71px;opacity: 1;}
}

@-moz-keyframes slide-down /* Firefox */
{
from {top:10px;opacity: 0;}
to {top:71px;opacity: 1;}
}

@-webkit-keyframes slide-down /* Safari and Chrome */
{
from {top:10px;opacity: 0;}
to {top:71px;opacity: 1;}
}
@keyframes slide-up
{
from {top:400px;opacity: 0;}
to {top:180px;opacity: 1;}
}

@-moz-keyframes slide-up /* Firefox */
{
from {top:400px;opacity: 0;}
to {top:180px;opacity: 1;}
}

@-webkit-keyframes slide-up /* Safari and Chrome */
{
from {top:400px;opacity: 0;}
to {top:180px;opacity: 1;}
}

@keyframes scl2-slide-up
{
from {top:400px;opacity: 0;}
to {top:165px;opacity: 1;}
}

@-moz-keyframes scl2-slide-up /* Firefox */
{
from {top:400px;opacity: 0;}
to {top:165px;opacity: 1;}
}

@-webkit-keyframes scl2-slide-up /* Safari and Chrome */
{
from {top:400px;opacity: 0;}
to {top:165px;opacity: 1;}
}
@keyframes uk-fade-scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes uk-fade-scale {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-webkit-keyframes uk-fade-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes scl-slideInLeft {
  from {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scl-slideInLeft {
  from {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/****
 @media screen and (max-width: 860px) {
 .flex-direction-nav .flex-prev {
opacity:0;
left: 0;
}
 .flex-direction-nav .flex-next {
opacity: 0;
right: 0;
}
}
@media (max-width: 767px) {
.flex-control-nav ,.flex-direction-nav,
.flexslider ul.slides li  .slide_content_left, .flexslider ul.slides li  .slide_desc_left,
.flexslider ul.slides li .slide_content_right, .flexslider ul.slides li  .slide_desc_right
{
	display:none;
	}	

}
****/