{% extends 'blog/__base__.html' %}
{% block content %}

<div class="container"> 
        <div class="col-md-10 mymiddle-column-home" style="float: right;">
                <div class="mycodelist">                       
                    <h2> HTML / CSS / JavaScript/ Python / Django </h2> 
                    <div>     
                        <a class="myitem-top" href="/blog/index/"><h4>【 Python / Django 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【 HTML 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【 CSS 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【  JavaScript 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div> 

                    <div>     
                        <a class="myitem-top" href="/blog/index/"><h4>【 Python / Django 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【 HTML 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【 CSS 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【  JavaScript 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div> 
                    <div>     
                        <a class="myitem-top" href="#"><h4>【 CSS 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                
                    <div>     
                        <a class="myitem-top" href="#"><h4>【  JavaScript 】</h4>
                        <strong>按钮效果，功能全面.</strong></a>     
                    </div>                                     
      
                </div>             
        </div>   
       
        <div style="float: right;">
            
            <!--左边垂直菜单模块-->
            {% include 'define_menu/left-vertical-menu.html' %} 
           
        </div>
      </div>
    
  </div>
</div>

{% endblock %}