
<script src="/static/blog/js/main.js"></script>
<div class="container main">
	<div class="myrow">
		<!-- 左菜单 -->
		<div class="mycol left-column">
			<div class="tab">目 录</div>
			<div class="mysidebar-box">
				<div class="mydesign" id="leftcolumn">
				    <a href="/blog/index0/"> index0 </a>
				    <a href="/blog/index1/"> index1 </a>				    
				    <a href="/blog/index2/"> index2 </a>
				    <a href="/blog/index3/"> index3 </a>	
				    	
					

                    
                       
                   
                    
                   
				</div>
			</div>	
		</div><!-- 左菜单 END-->

	</div>
</div>	