{% extends 'blog/__base__.html' %}
{% block content %}
<style>
.square{
    width:400px; 
    /*height:600px;*/
    background:#eee;    
    border:1px #ccc solid;  /*边框*/
    }
</style>
<br><br><br><br><br><br><br><br>
<div class="container">
  <div class="row clearfix"> 
    <div class="col-md-4 column"></div>                                           
    <div class="square col-md-4 column "> 
      <h3 class="text-success text-center"><span class="glyphicon glyphicon-log-in"></span>  登 录</h3>

    <form action="/login/" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="user" name="username" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <input type="text" name="href" style="display:none">
      <div class="row">
        <div class="col-xs-8">
          <a href="/register/" class="text-center">还没有注册？注册</a>
        </div>

        <div class="form-group col-xs-4">       
            <button type="submit" class="btn btn-primary form-control">提 交</button>
        </div>
        
      </div>
    </form>
    {% if messages %} <!--messages消息 width:60px;-->
        <div  style="color:#f00;font-size:16px; padding-left:4px;padding-top:2px;background-color:#fff; border:1px solid #ccc;word-wrap:break-word; overflow:auto;overflow-y:auto;">           
                {% for message in messages %}
                    <li>{{ message }}</li> 
                {% endfor %}
        </div>
        <br>
    {% endif %}

  </div>
</div>
</div>
{% endblock %}
